<div class="container">
    <h2>Adcash test assigment</h2>
    <p>Type tags here using comma, semicolon and line break as delimiters</p>
    <div class="form-group">
      <textarea class="form-control" rows="5" id="comment" [(ngModel)]="text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" (click)="addTagFunction()">add tag</button><br><br>



    <div class="border"  style="min-height: 100px; background-color: antiquewhite;" >
      <ul id="tags" >
        <li *ngFor="let item of tagArray; let i = index;">
            <button type="button" class="btn btn-outline-light"  aria-label="Close"
                    [ngClass]="{
                      'positive' : item >= 0,
                      'negative' : item < 0
                       }"
                    >{{item}}
                <span aria-hidden="true" (click)="deleteText(i)">&times;</span> 
              </button>
        </li>
      </ul>
    </div>
    <br>
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="editTag()">edit tag</button>
      
        
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
            
              
              <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              
              <div class="modal-body">
                  <textarea class="form-control" rows="5" id="comment" [(ngModel)]="editingTags"></textarea>
              </div>
              
              
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="updateTag()">Save</button>
              </div>
              
            </div>
          </div>
        </div>

</div>
